doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/main.css")
    body
        if username
            h2 Hello: #{username}
            div
                form(action="/logout", name="logout", method="post")
                    input(type="submit", value="Log out")
        else
            div
                a(href="/signup") Sign up
            div
                a(href="/login") Log in
        div(ng-app='Hello' ng-controller='NameController')
            div
                label(for="yourName") Your name
                input(type="text", name="yourName" ng-model="yourName")
            div
                | {{ yourName | sayhello }}
    script(type="text/javascript", src="/lib/angular/angular.min.js")
    script(type="text/javascript", src="/application.js")