doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/main.css")
    body
        each msg in messages
            div.flash
                = msg
        form(action="/signup", method="post", name="signup")
            div
                label(for="username") Usename
                input(type="text", name="username", placeholder="Username")
            div
                label(for="Firstname") Firstname
                input(type="text", name="Firstname", placeholder="Firstname")
            div
                label(for="Lastname") Lastname
                input(type="text", name="Lastname", placeholder="Lastname")
            div
                label(for="email") Email
                input(type="text", name="email", placeholder="yourmail@mail.com")
            div
                label(for="password") Password
                input(type="password", name="password", placeholder="password")
            div
                input(type="submit", value="Sign up")